<h1>Log In</h1>
<%= form_for(:session, url: login_path) do |f| %>
  <label>Email:</label>
  <%= f.email_field :email, placeholder: 'Email', required: true %><br>
  <label>Password:</label>
  <%= f.password_field :password, placeholder: 'Password', required: true %><br><br>
  <%= f.submit 'Log In' %>
<% end %>
