<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <div class="toplevel-container">
      <a href="/"><img src="nav-controller.png" id="home-logo" style="height:8vh;"/></a>
    </div>

    <div class="accordion">
      <img src="budget.png" style="height:9vh;"/><br><br>
      <h2>Budget</h2>
    </div>
    <div class="list-div">
      <table class="pcpp-part-list table table-dark">
        <thead>
          <tr>
            <th>Type</th>
            <th>Item</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="pcpp-part-list-type">CPU</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/jLF48d/amd-ryzen-5-2600-34ghz-6-core-processor-yd2600bbafbox">AMD - Ryzen 5 2600 3.4GHz 6-Core Processor</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/jLF48d/amd-ryzen-5-2600-34ghz-6-core-processor-yd2600bbafbox">$<%= @budget_gaming_build.cpu %> @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Motherboard</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/6ddxFT/gigabyte-ga-ab350m-ds3h-micro-atx-am4-motherboard-ga-ab350m-ds3h">Gigabyte - GA-AB350M-DS3H Micro ATX AM4 Motherboard</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/6ddxFT/gigabyte-ga-ab350m-ds3h-micro-atx-am4-motherboard-ga-ab350m-ds3h">$49.99 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Memory</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/2XL7YJ/corsair-memory-cmv8gx4m1a2133c15">Corsair - 8GB (1 x 8GB) DDR4-2133 Memory</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/2XL7YJ/corsair-memory-cmv8gx4m1a2133c15">$64.99 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Storage</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/8jH48d/sandisk-ssd-plus-240gb-25-solid-state-drive-sdssda-240g-g26">SanDisk - SSD PLUS 240GB 2.5" Solid State Drive</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/8jH48d/sandisk-ssd-plus-240gb-25-solid-state-drive-sdssda-240g-g26">$49.94 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Video Card</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/wrmxFT/evga-geforce-gtx-1050-ti-4gb-acx-20-video-card-04g-p4-6251-kr">EVGA - GeForce GTX 1050 Ti 4GB ACX 2.0 Video Card</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/wrmxFT/evga-geforce-gtx-1050-ti-4gb-acx-20-video-card-04g-p4-6251-kr">$169.00 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Case</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/cTQypg/corsair-case-200r">Corsair - 200R ATX Mid Tower Case</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/cTQypg/corsair-case-200r">$59.99 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Power Supply</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/kCtQzy/evga-br-500w-80-bronze-certified-atx-power-supply-100-br-0500-k1">EVGA - BR 500W 80+ Bronze Certified ATX Power Supply</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/kCtQzy/evga-br-500w-80-bronze-certified-atx-power-supply-100-br-0500-k1">$<%= @budget_gaming_build.psu %> @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td></td>
            <td class="pcpp-part-list-total">Total</td>
            <td class="pcpp-part-list-total-price">$559.90</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="accordion">
      <img src="mid.png" style="height:9vh;"/><br><br>
      <h2>Mid-Range</h2>
    </div>
    <div class="list-div">
      <table class="pcpp-part-list table table-dark">
        <thead>
          <tr>
            <th>Type</th>
            <th>Item</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="pcpp-part-list-type">CPU</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/Mr2rxr/intel-core-i5-8600k-36ghz-6-core-processor-bx80684i58600k">Intel - Core i5-8600K 3.6GHz 6-Core Processor</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/Mr2rxr/intel-core-i5-8600k-36ghz-6-core-processor-bx80684i58600k">$239.00 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">CPU Cooler</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/93Crxr/cryorig-cpu-cooler-h7">CRYORIG - H7 49.0 CFM CPU Cooler</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/93Crxr/cryorig-cpu-cooler-h7">$36.40 @ OutletPC</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Motherboard</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/NyqhP6/gigabyte-b360-aorus-gaming-3-wifi-atx-lga1151-motherboard-b360-aorus-gaming-3-wifi">Gigabyte - B360 AORUS Gaming 3 WIFI ATX LGA1151 Motherboard</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/NyqhP6/gigabyte-b360-aorus-gaming-3-wifi-atx-lga1151-motherboard-b360-aorus-gaming-3-wifi">$100.88 @ OutletPC</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Memory</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/4vWrxr/gskill-memory-f42400c15d16gvr">G.Skill - Ripjaws V Series 16GB (2 x 8GB) DDR4-2400 Memory</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/4vWrxr/gskill-memory-f42400c15d16gvr">$124.89 @ OutletPC</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Storage</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/6yKcCJ/samsung-860-evo-500gb-25-solid-state-drive-mz-76e500bam">Samsung - 860 Evo 500GB 2.5" Solid State Drive</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/6yKcCJ/samsung-860-evo-500gb-25-solid-state-drive-mz-76e500bam">$97.99 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Video Card</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/ph38TW/evga-geforce-gtx-1070-8gb-sc-gaming-video-card-08g-p4-5173-kr">EVGA - GeForce GTX 1070 8GB SC GAMING ACX 3.0 Black Edition Video Card</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/ph38TW/evga-geforce-gtx-1070-8gb-sc-gaming-video-card-08g-p4-5173-kr">$359.99 @ Newegg</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Case</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/cTQypg/corsair-case-200r">Corsair - 200R ATX Mid Tower Case</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/cTQypg/corsair-case-200r">$39.99 @ Newegg</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Power Supply</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/kCtQzy/evga-br-500w-80-bronze-certified-atx-power-supply-100-br-0500-k1">EVGA - BR 500W 80+ Bronze Certified ATX Power Supply</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/kCtQzy/evga-br-500w-80-bronze-certified-atx-power-supply-100-br-0500-k1">$37.49 @ Newegg</a>
            </td>
          </tr>
          <tr>
            <td></td>
            <td class="pcpp-part-list-subtotal">Total (before mail-in rebates)</td>
            <td class="pcpp-part-list-subtotal-price">$1086.63</td>
          </tr>
          <tr>
            <td></td>
            <td class="pcpp-part-list-subtotal">Mail-in rebates</td>
            <td class="pcpp-part-list-subtotal-price">-$50.00</td>
          </tr>
          <tr>
            <td></td>
            <td class="pcpp-part-list-total">Total</td>
            <td class="pcpp-part-list-total-price">$1036.63</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="accordion">
      <img src="high.png" style="height:9vh;"/><br><br>
      <h2>High-End</h2>
    </div>
    <div class="list-div">
      <table class="pcpp-part-list table table-dark">
        <thead>
          <tr>
            <th>Type</th>
            <th>Item</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="pcpp-part-list-type">CPU</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/Mr2rxr/intel-core-i5-8600k-36ghz-6-core-processor-bx80684i58600k">Intel - Core i5-8600K 3.6GHz 6-Core Processor</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/Mr2rxr/intel-core-i5-8600k-36ghz-6-core-processor-bx80684i58600k">$239.00 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">CPU Cooler</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/93Crxr/cryorig-cpu-cooler-h7">CRYORIG - H7 49.0 CFM CPU Cooler</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/93Crxr/cryorig-cpu-cooler-h7">$36.40 @ OutletPC</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Motherboard</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/NyqhP6/gigabyte-b360-aorus-gaming-3-wifi-atx-lga1151-motherboard-b360-aorus-gaming-3-wifi">Gigabyte - B360 AORUS Gaming 3 WIFI ATX LGA1151 Motherboard</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/NyqhP6/gigabyte-b360-aorus-gaming-3-wifi-atx-lga1151-motherboard-b360-aorus-gaming-3-wifi">$100.88 @ OutletPC</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Memory</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/4vWrxr/gskill-memory-f42400c15d16gvr">G.Skill - Ripjaws V Series 16GB (2 x 8GB) DDR4-2400 Memory</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/4vWrxr/gskill-memory-f42400c15d16gvr">$124.89 @ OutletPC</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Storage</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/6yKcCJ/samsung-860-evo-500gb-25-solid-state-drive-mz-76e500bam">Samsung - 860 Evo 500GB 2.5" Solid State Drive</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/6yKcCJ/samsung-860-evo-500gb-25-solid-state-drive-mz-76e500bam">$97.99 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Video Card</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/8cPKHx/evga-geforce-rtx-2080-8gb-xc-gaming-video-card-08g-p4-2182-kr">EVGA - GeForce RTX 2080 8GB XC GAMING Video Card</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/8cPKHx/evga-geforce-rtx-2080-8gb-xc-gaming-video-card-08g-p4-2182-kr">$799.99 @ Newegg</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Case</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/cTQypg/corsair-case-200r">Corsair - 200R ATX Mid Tower Case</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/cTQypg/corsair-case-200r">$39.99 @ Newegg</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Power Supply</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/kCtQzy/evga-br-500w-80-bronze-certified-atx-power-supply-100-br-0500-k1">EVGA - BR 500W 80+ Bronze Certified ATX Power Supply</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/kCtQzy/evga-br-500w-80-bronze-certified-atx-power-supply-100-br-0500-k1">$37.49 @ Newegg</a>
            </td>
          </tr>
          <tr>
            <td></td>
            <td class="pcpp-part-list-subtotal">Total (before mail-in rebates)</td>
            <td class="pcpp-part-list-subtotal-price">$1506.63</td>
          </tr>
          <tr>
            <td></td>
            <td class="pcpp-part-list-subtotal">Mail-in rebates</td>
            <td class="pcpp-part-list-subtotal-price">-$30.00</td>
          </tr>
          <tr>
            <td></td>
            <td class="pcpp-part-list-total">Total</td>
            <td class="pcpp-part-list-total-price">$1476.63</td>
          </tr>
        </tbody>
      </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
