<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <div class="toplevel-container">
      <a href="/"><img src="juggler.svg" id="home-logo" style="height:8vh;"/></a>
    </div>

    <div class="accordion">
      <img src="budget.png" style="height:9vh;"/><br><br>
      <h2>Budget</h2>
    </div>
    <div class="list-div">
      <table class="pcpp-part-list table table-dark">
        <thead>
          <tr>
            <th>Type</th>
            <th>Item</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="pcpp-part-list-type">CPU</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/YqKhP6/intel-core-i3-8100-36ghz-4-core-processor-bx80684i38100">Intel - Core i3-8100 3.6GHz Quad-Core Processor</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/YqKhP6/intel-core-i3-8100-36ghz-4-core-processor-bx80684i38100">$124.99 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Motherboard</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/F4BTwP/asrock-h310m-hdv-micro-atx-lga1151-motherboard-h310m-hdv">ASRock - H310M-HDV Micro ATX LGA1151 Motherboard</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/F4BTwP/asrock-h310m-hdv-micro-atx-lga1151-motherboard-h310m-hdv">$65.23 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Memory</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/2XL7YJ/corsair-memory-cmv8gx4m1a2133c15">Corsair - 8GB (1 x 8GB) DDR4-2133 Memory</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/2XL7YJ/corsair-memory-cmv8gx4m1a2133c15">$64.99 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Storage</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/m34NnQ/sandisk-ssd-plus-120gb-25-solid-state-drive-sdssda-120g-g26">SanDisk - SSD PLUS 120GB 2.5" Solid State Drive</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/m34NnQ/sandisk-ssd-plus-120gb-25-solid-state-drive-sdssda-120g-g26">$31.50 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Case</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/cTQypg/corsair-case-200r">Corsair - 200R ATX Mid Tower Case</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/cTQypg/corsair-case-200r">$59.99 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Power Supply</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/GQX2FT/evga-bt-450w-80-bronze-certified-atx-power-supply-100-bt-0450-k1">EVGA - BT 450W 80+ Bronze Certified ATX Power Supply</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/GQX2FT/evga-bt-450w-80-bronze-certified-atx-power-supply-100-bt-0450-k1">$34.99 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td></td>
            <td class="pcpp-part-list-price-note">Prices include shipping, taxes, rebates, and discounts</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td class="pcpp-part-list-total">Total</td>
            <td class="pcpp-part-list-total-price">$381.69</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="accordion">
      <img src="mid.png" style="height:9vh;"/><br><br>
      <h2>Mid-Range</h2>
    </div>
    <div class="list-div">
      <table class="pcpp-part-list table table-dark">
        <thead>
          <tr>
            <th>Type</th>
            <th>Item</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="pcpp-part-list-type">CPU</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/LHYWGX/intel-core-i5-8400-28ghz-6-core-processor-bx80684i58400">Intel - Core i5-8400 2.8GHz 6-Core Processor</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/LHYWGX/intel-core-i5-8400-28ghz-6-core-processor-bx80684i58400">$187.00 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Motherboard</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/V9WfrH/gigabyte-z370p-d3-atx-lga1151-motherboard-z370p-d3">Gigabyte - Z370P D3 ATX LGA1151 Motherboard</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/V9WfrH/gigabyte-z370p-d3-atx-lga1151-motherboard-z370p-d3">$104.99 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Memory</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/2XL7YJ/corsair-memory-cmv8gx4m1a2133c15">Corsair - 8GB (1 x 8GB) DDR4-2133 Memory</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/2XL7YJ/corsair-memory-cmv8gx4m1a2133c15">$64.99 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Storage</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/sNc48d/samsung-860-evo-250gb-25-solid-state-drive-mz-76e250bam">Samsung - 860 Evo 250GB 2.5" Solid State Drive</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/sNc48d/samsung-860-evo-250gb-25-solid-state-drive-mz-76e250bam">$55.99 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Case</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/cTQypg/corsair-case-200r">Corsair - 200R ATX Mid Tower Case</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/cTQypg/corsair-case-200r">$59.99 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Power Supply</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/GQX2FT/evga-bt-450w-80-bronze-certified-atx-power-supply-100-bt-0450-k1">EVGA - BT 450W 80+ Bronze Certified ATX Power Supply</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/GQX2FT/evga-bt-450w-80-bronze-certified-atx-power-supply-100-bt-0450-k1">$34.99 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td></td>
            <td class="pcpp-part-list-price-note">Prices include shipping, taxes, rebates, and discounts</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td class="pcpp-part-list-total">Total</td>
            <td class="pcpp-part-list-total-price">$507.95</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="accordion">
      <img src="high.png" style="height:9vh;"/><br><br>
      <h2>High-End</h2>
    </div>
    <div class="list-div">
      <table class="pcpp-part-list table table-dark">
        <thead>
          <tr>
            <th>Type</th>
            <th>Item</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="pcpp-part-list-type">CPU</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/sxDzK8/intel-core-i7-8700k-37ghz-6-core-processor-bx80684i78700k">Intel - Core i7-8700K 3.7GHz 6-Core Processor</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/sxDzK8/intel-core-i7-8700k-37ghz-6-core-processor-bx80684i78700k">$379.99 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">CPU Cooler</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/hmtCmG/cooler-master-cpu-cooler-rr212e20pkr2">Cooler Master - Hyper 212 EVO 82.9 CFM Sleeve Bearing CPU Cooler</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/hmtCmG/cooler-master-cpu-cooler-rr212e20pkr2">$29.99 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Motherboard</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/V9WfrH/gigabyte-z370p-d3-atx-lga1151-motherboard-z370p-d3">Gigabyte - Z370P D3 ATX LGA1151 Motherboard</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/V9WfrH/gigabyte-z370p-d3-atx-lga1151-motherboard-z370p-d3">$104.99 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Memory</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/4QNypg/team-vulcan-8gb-2-x-4gb-ddr4-2400-memory-tlgd416g2400hc14dc01">Team - Vulcan 16GB (2 x 8GB) DDR4-2400 Memory</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/4QNypg/team-vulcan-8gb-2-x-4gb-ddr4-2400-memory-tlgd416g2400hc14dc01">$139.67 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Storage</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/6yKcCJ/samsung-860-evo-500gb-25-solid-state-drive-mz-76e500bam">Samsung - 860 Evo 500GB 2.5" Solid State Drive</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/6yKcCJ/samsung-860-evo-500gb-25-solid-state-drive-mz-76e500bam">$87.99 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Case</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/cTQypg/corsair-case-200r">Corsair - 200R ATX Mid Tower Case</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/cTQypg/corsair-case-200r">$59.99 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Power Supply</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/GQX2FT/evga-bt-450w-80-bronze-certified-atx-power-supply-100-bt-0450-k1">EVGA - BT 450W 80+ Bronze Certified ATX Power Supply</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/GQX2FT/evga-bt-450w-80-bronze-certified-atx-power-supply-100-bt-0450-k1">$34.99 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td></td>
            <td class="pcpp-part-list-price-note">Prices include shipping, taxes, rebates, and discounts</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td class="pcpp-part-list-total">Total</td>
            <td class="pcpp-part-list-total-price">$837.61</td>
          </tr>
        </tbody>
      </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
