<!DOCTYPE html>

<html>

<head>
</head>
<body>
    <!--<h1 id="wallet">Welcome to your money</h1>-->
    <div class="toplevel-container">
      <a href="#">Home</a>
    </div>

    <div id="choose-category">
      <a href="">General</a>
      <a href="">Gaming</a>
      <a href="">Workstation</a>
      <a href="">CAD</a>
    </div>
</body>

</html>
