<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <div class="toplevel-container">
      <a href="/"><img src="play-button.svg" id="home-logo" style="height:8vh;"/></a>
    </div>

    <div class="accordion">
      <img src="budget.png" style="height:9vh;"/><br><br>
      <h2>Budget</h2>
    </div>
    <div class="list-div">
      <table class="pcpp-part-list table table-dark">
        <thead>
          <tr>
            <th>Type</th>
            <th>Item</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="pcpp-part-list-type">CPU</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/jLF48d/amd-ryzen-5-2600-34ghz-6-core-processor-yd2600bbafbox">AMD - Ryzen 5 2600 3.4GHz 6-Core Processor</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/jLF48d/amd-ryzen-5-2600-34ghz-6-core-processor-yd2600bbafbox">$165.99 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Motherboard</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/4YkwrH/gigabyte-ga-ab350n-gaming-wifi-rev-10-mini-itx-am4-motherboard-ga-ab350n-gaming-wifi-rev-10">Gigabyte - GA-AB350N-Gaming WIFI (rev. 1.0) Mini ITX AM4 Motherboard</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/4YkwrH/gigabyte-ga-ab350n-gaming-wifi-rev-10-mini-itx-am4-motherboard-ga-ab350n-gaming-wifi-rev-10">$178.51 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Memory</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/2XL7YJ/corsair-memory-cmv8gx4m1a2133c15">Corsair - 8GB (1 x 8GB) DDR4-2133 Memory</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/2XL7YJ/corsair-memory-cmv8gx4m1a2133c15">$64.99 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Storage</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/N7K7YJ/western-digital-internal-hard-drive-wd10jpvx">Western Digital - WD Blue 1TB 2.5" 5400RPM Internal Hard Drive</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/N7K7YJ/western-digital-internal-hard-drive-wd10jpvx">$57.99 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Video Card</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/2BjWGX/msi-video-card-gt7102gd3lp">MSI - GeForce GT 710 2GB Video Card</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/2BjWGX/msi-video-card-gt7102gd3lp">$45.59 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Case</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/DRLypg/silverstone-case-ml06b">Silverstone - ML06B HTPC Case</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/DRLypg/silverstone-case-ml06b">$85.18 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Power Supply</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/9qTmP6/silverstone-power-supply-st30sf">Silverstone - 300W 80+ Bronze Certified SFX Power Supply</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/9qTmP6/silverstone-power-supply-st30sf">$52.06 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td></td>
            <td class="pcpp-part-list-price-note">Prices include shipping, taxes, rebates, and discounts</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td class="pcpp-part-list-total">Total</td>
            <td class="pcpp-part-list-total-price">$650.31</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="accordion">
      <img src="mid.png" style="height:9vh;"/><br><br>
      <h2>Mid-Range</h2>
    </div>
    <div class="list-div">
      <table class="pcpp-part-list table table-dark">
        <thead>
          <tr>
            <th>Type</th>
            <th>Item</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="pcpp-part-list-type">CPU</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/6mm323/amd-ryzen-5-2600x-36ghz-6-core-processor-yd260xbcafbox">AMD - Ryzen 5 2600X 3.6GHz 6-Core Processor</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/6mm323/amd-ryzen-5-2600x-36ghz-6-core-processor-yd260xbcafbox">$209.99 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Motherboard</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/ZHyxFT/asus-strix-b350-f-gaming-atx-am4-motherboard-strix-b350-f-gaming">Asus - STRIX B350-F GAMING ATX AM4 Motherboard</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/ZHyxFT/asus-strix-b350-f-gaming-atx-am4-motherboard-strix-b350-f-gaming">$115.99 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Memory</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/2XL7YJ/corsair-memory-cmv8gx4m1a2133c15">Corsair - 8GB (1 x 8GB) DDR4-2133 Memory</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/2XL7YJ/corsair-memory-cmv8gx4m1a2133c15">$64.99 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Storage</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/X3Crxr/mushkin-internal-hard-drive-mknssdre1tb">Mushkin - Reactor 1TB 2.5" Solid State Drive</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/X3Crxr/mushkin-internal-hard-drive-mknssdre1tb">$158.99 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Video Card</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/Cm38TW/evga-geforce-gtx-1050-ti-4gb-sc-gaming-acx-20-video-card-04g-p4-6253-kr">EVGA - GeForce GTX 1050 Ti 4GB SC GAMING ACX 2.0 Video Card</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/Cm38TW/evga-geforce-gtx-1050-ti-4gb-sc-gaming-acx-20-video-card-04g-p4-6253-kr">$186.00 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Case</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/cTQypg/corsair-case-200r">Corsair - 200R ATX Mid Tower Case</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/cTQypg/corsair-case-200r">$59.99 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Power Supply</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/86M323/evga-power-supply-100n10400l1">EVGA - 400W ATX Power Supply</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/86M323/evga-power-supply-100n10400l1">$29.99 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td></td>
            <td class="pcpp-part-list-price-note">Prices include shipping, taxes, rebates, and discounts</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td class="pcpp-part-list-total">Total</td>
            <td class="pcpp-part-list-total-price">$825.94</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="accordion">
      <img src="high.png" style="height:9vh;"/><br><br>
      <h2>High-End</h2>
    </div>
    <div class="list-div">
      <table class="pcpp-part-list table table-dark">
        <thead>
          <tr>
            <th>Type</th>
            <th>Item</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="pcpp-part-list-type">CPU</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/bddxFT/amd-ryzen-7-2700x-37ghz-8-core-processor-yd270xbgafbox">AMD - Ryzen 7 2700X 3.7GHz 8-Core Processor</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/bddxFT/amd-ryzen-7-2700x-37ghz-8-core-processor-yd270xbgafbox">$299.99 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Motherboard</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/ZHyxFT/asus-strix-b350-f-gaming-atx-am4-motherboard-strix-b350-f-gaming">Asus - STRIX B350-F GAMING ATX AM4 Motherboard</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/ZHyxFT/asus-strix-b350-f-gaming-atx-am4-motherboard-strix-b350-f-gaming">$115.99 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Memory</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/dRvZxr/kingston-memory-hx424c15fb16">Kingston - FURY 16GB (1 x 16GB) DDR4-2400 Memory</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/dRvZxr/kingston-memory-hx424c15fb16">$153.00 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Storage</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/4cyxFT/samsung-960-evo-1tb-m2-2280-solid-state-drive-mz-v6e1t0">Samsung - 960 EVO 1TB M.2-2280 Solid State Drive</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/4cyxFT/samsung-960-evo-1tb-m2-2280-solid-state-drive-mz-v6e1t0">$298.83 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Video Card</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/tJyxFT/evga-geforce-gtx-1060-6gb-sc-gaming-video-card-06g-p4-6163-kr">EVGA - GeForce GTX 1060 6GB 6GB SC GAMING Video Card</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/tJyxFT/evga-geforce-gtx-1060-6gb-sc-gaming-video-card-06g-p4-6163-kr">$269.99 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Case</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/cTQypg/corsair-case-200r">Corsair - 200R ATX Mid Tower Case</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/cTQypg/corsair-case-200r">$59.99 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Power Supply</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/GQX2FT/evga-bt-450w-80-bronze-certified-atx-power-supply-100-bt-0450-k1">EVGA - BT 450W 80+ Bronze Certified ATX Power Supply</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/GQX2FT/evga-bt-450w-80-bronze-certified-atx-power-supply-100-bt-0450-k1">$34.99 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td></td>
            <td class="pcpp-part-list-price-note">Prices include shipping, taxes, rebates, and discounts</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td class="pcpp-part-list-total">Total</td>
            <td class="pcpp-part-list-total-price">$1232.78</td>
          </tr>
        </tbody>
      </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
