<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <div class="toplevel-container">
      <a href="/"><img src="pen.svg" id="home-logo" style="height:8vh;"/></a>
    </div>

    <div class="accordion">
      <img src="budget.png" style="height:9vh;"/><br><br>
      <h2>Budget</h2>
    </div>
    <div class="list-div">
      <table class="pcpp-part-list table table-dark">
        <thead>
          <tr>
            <th>Type</th>
            <th>Item</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="pcpp-part-list-type">CPU</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/LHYWGX/intel-core-i5-8400-28ghz-6-core-processor-bx80684i58400">Intel - Core i5-8400 2.8GHz 6-Core Processor</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/LHYWGX/intel-core-i5-8400-28ghz-6-core-processor-bx80684i58400">$187.00 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Motherboard</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/V9WfrH/gigabyte-z370p-d3-atx-lga1151-motherboard-z370p-d3">Gigabyte - Z370P D3 ATX LGA1151 Motherboard</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/V9WfrH/gigabyte-z370p-d3-atx-lga1151-motherboard-z370p-d3">$104.99 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Memory</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/2XL7YJ/corsair-memory-cmv8gx4m1a2133c15">Corsair - 8GB (1 x 8GB) DDR4-2133 Memory</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/2XL7YJ/corsair-memory-cmv8gx4m1a2133c15">$64.99 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Storage</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/m34NnQ/sandisk-ssd-plus-120gb-25-solid-state-drive-sdssda-120g-g26">SanDisk - SSD PLUS 120GB 2.5" Solid State Drive</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/m34NnQ/sandisk-ssd-plus-120gb-25-solid-state-drive-sdssda-120g-g26">$31.50 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Case</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/cTQypg/corsair-case-200r">Corsair - 200R ATX Mid Tower Case</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/cTQypg/corsair-case-200r">$59.99 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Power Supply</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/GQX2FT/evga-bt-450w-80-bronze-certified-atx-power-supply-100-bt-0450-k1">EVGA - BT 450W 80+ Bronze Certified ATX Power Supply</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/GQX2FT/evga-bt-450w-80-bronze-certified-atx-power-supply-100-bt-0450-k1">$34.99 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td></td>
            <td class="pcpp-part-list-price-note">Prices include shipping, taxes, rebates, and discounts</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td class="pcpp-part-list-total">Total</td>
            <td class="pcpp-part-list-total-price">$483.46</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="accordion">
      <img src="mid.png" style="height:9vh;"/><br><br>
      <h2>Mid-Range</h2>
    </div>
    <div class="list-div">
      <table class="pcpp-part-list table table-dark">
        <thead>
          <tr>
            <th>Type</th>
            <th>Item</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="pcpp-part-list-type">CPU</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/sxDzK8/intel-core-i7-8700k-37ghz-6-core-processor-bx80684i78700k">Intel - Core i7-8700K 3.7GHz 6-Core Processor</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/sxDzK8/intel-core-i7-8700k-37ghz-6-core-processor-bx80684i78700k">$379.99 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">CPU Cooler</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/hmtCmG/cooler-master-cpu-cooler-rr212e20pkr2">Cooler Master - Hyper 212 EVO 82.9 CFM Sleeve Bearing CPU Cooler</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/hmtCmG/cooler-master-cpu-cooler-rr212e20pkr2">$29.99 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Motherboard</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/3MJkcf/asus-prime-z370-a-atx-lga1151-motherboard-prime-z370-a">Asus - Prime Z370-A ATX LGA1151 Motherboard</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/3MJkcf/asus-prime-z370-a-atx-lga1151-motherboard-prime-z370-a">$159.00 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Memory</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/4QNypg/team-vulcan-8gb-2-x-4gb-ddr4-2400-memory-tlgd416g2400hc14dc01">Team - Vulcan 16GB (2 x 8GB) DDR4-2400 Memory</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/4QNypg/team-vulcan-8gb-2-x-4gb-ddr4-2400-memory-tlgd416g2400hc14dc01">$139.67 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Storage</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/6yKcCJ/samsung-860-evo-500gb-25-solid-state-drive-mz-76e500bam">Samsung - 860 Evo 500GB 2.5" Solid State Drive</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/6yKcCJ/samsung-860-evo-500gb-25-solid-state-drive-mz-76e500bam">$87.99 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Case</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/cTQypg/corsair-case-200r">Corsair - 200R ATX Mid Tower Case</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/cTQypg/corsair-case-200r">$59.99 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Power Supply</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/GQX2FT/evga-bt-450w-80-bronze-certified-atx-power-supply-100-bt-0450-k1">EVGA - BT 450W 80+ Bronze Certified ATX Power Supply</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/GQX2FT/evga-bt-450w-80-bronze-certified-atx-power-supply-100-bt-0450-k1">$34.99 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td></td>
            <td class="pcpp-part-list-price-note">Prices include shipping, taxes, rebates, and discounts</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td class="pcpp-part-list-total">Total</td>
            <td class="pcpp-part-list-total-price">$891.62</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="accordion">
      <img src="high.png" style="height:9vh;"/><br><br>
      <h2>High-End</h2>
    </div>
    <div class="list-div">
      <table class="pcpp-part-list table table-dark">
        <thead>
          <tr>
            <th>Type</th>
            <th>Item</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="pcpp-part-list-type">CPU</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/CF7CmG/amd-threadripper-1950x-34ghz-16-core-processor-yd195xa8aewof">AMD - Threadripper 1950X 3.4GHz 16-Core Processor</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/CF7CmG/amd-threadripper-1950x-34ghz-16-core-processor-yd195xa8aewof">$699.99 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">CPU Cooler</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/CrDzK8/corsair-cpu-cooler-cw9060025ww">Corsair - H100i v2 70.7 CFM Liquid CPU Cooler</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/CrDzK8/corsair-cpu-cooler-cw9060025ww">$100.99 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Motherboard</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/wMjWGX/asus-prime-x399-a-eatx-tr4-motherboard-prime-x399-a">Asus - PRIME X399-A EATX TR4 Motherboard</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/wMjWGX/asus-prime-x399-a-eatx-tr4-motherboard-prime-x399-a">$279.00 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Memory</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/zfPzK8/corsair-memory-cmk64gx4m4a2400c14">Corsair - Vengeance LPX 64GB (4 x 16GB) DDR4-2400 Memory</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/zfPzK8/corsair-memory-cmk64gx4m4a2400c14">$591.37 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Storage</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/4cyxFT/samsung-960-evo-1tb-m2-2280-solid-state-drive-mz-v6e1t0">Samsung - 960 EVO 1TB M.2-2280 Solid State Drive</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/4cyxFT/samsung-960-evo-1tb-m2-2280-solid-state-drive-mz-v6e1t0">$298.83 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Video Card</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/r8smP6/evga-geforce-rtx-2080-8gb-xc-ultra-gaming-video-card-08g-p4-2183-kr">EVGA - GeForce RTX 2080 8GB XC ULTRA GAMING Video Card</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/r8smP6/evga-geforce-rtx-2080-8gb-xc-ultra-gaming-video-card-08g-p4-2183-kr">$849.99 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Case</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/Rwhj4D/corsair-case-cc9011078ww">Corsair - 750D Airflow Edition ATX Full Tower Case</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/Rwhj4D/corsair-case-cc9011078ww">$159.99 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td class="pcpp-part-list-type">Power Supply</td>
            <td class="pcpp-part-list-item">
              <a href="https://pcpartpicker.com/product/9q4NnQ/evga-power-supply-220g20650y1">EVGA - SuperNOVA G2 650W 80+ Gold Certified Fully-Modular ATX Power Supply</a>
            </td>
            <td class="pcpp-part-list-price">
              <a href="https://pcpartpicker.com/product/9q4NnQ/evga-power-supply-220g20650y1">$79.99 @ Amazon</a>
            </td>
          </tr>
          <tr>
            <td></td>
            <td class="pcpp-part-list-price-note">Prices include shipping, taxes, rebates, and discounts</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td class="pcpp-part-list-total">Total</td>
            <td class="pcpp-part-list-total-price">$3040.05</td>
          </tr>
        </tbody>
      </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
