// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: pricedown;
  // src: url("pricedown bl.ttf");
  src: url("Adler.ttf");
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background-color: #f3e8ee;
}

.toplevel-container {
  background-color: #040303;
  padding: 1%;
  text-align: center;
  box-shadow: 10px 5px 5px gray;
}

#greeting {
  margin-top: 3%;
  padding: 1%;
  text-align: center;
  background-color: #F9E103;
  border-top: 3px solid #040303;

  h1 {
    color: #040303;
    font-size: 250%;
  }
}

.index-session-button{
  padding: .7%;
  text-decoration: none;
  color: white;
  background-color: #040303;
  border-radius: 6px;
  transition-timing-function: ease-in;
  transition-property: color;
  transition-duration: .5s;
}

.index-session-button:hover{
  color: #F9E103;
}

#about-section p {
  text-align: center;
  color: white;
  font-family: sans-serif;
  font-size: 170%;
  padding: 5%;
  background-color: #040303;
  margin: 0;
  box-shadow: 10px 10px 10px gray;
}

.category {
  text-align: center;
  height: 15vh;
  background-color: #F9E103;
  padding: 3%;
  border-top: 2px solid #040303;
  border-bottom: 2px solid #040303;
  transition-timing-function: ease-in;
  transition-property: background-color;
  transition-duration: .5s;
}

.category:hover {
  background-color: #F7C202;
}

.category-links {
  text-decoration: none;
  color: #040303;
}

.accordion {
  text-align: center;
  height: 29.8vh;
  background-color: #F9E103;
  padding: 3%;
  border-bottom: 2px solid #040303;
  transition-timing-function: ease-in;
  transition-property: background-color;
  transition-duration: .5s;

  h2 {
    font-weight: bold;
  }
}

.accordion:hover,
.active {
  background-color: #F7C202;
  cursor: pointer;
}

.list-div {
  display: none;
  overflow: hidden;
}

.pcpp-part-list {
  margin: 0 !important;
  overflow: hidden;
}
