// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html{
  font-family: sans-serif;
}

body{
  margin:0;
  background-color: #f3e8ee;
}

.toplevel-container{
  background-color: #040303;
  padding: 1%;
  text-align: center;
}

.toplevel-container a{
  text-decoration: none;
  color:#f3e8ee;
}

#greeting{
  padding: 3%;
  text-align: center;
  background-color: #1b2a41;
}

#greeting h1{
  margin:0;
  color: #f3e8ee;
}

#choose-category{
  margin-top: 13%;
  margin-left: 1%;
}

#choose-category a{
  text-decoration: none;
  color: #f3e8ee;
  font-size: 250%;
  background-color: #1b2a41;
  padding: 5%;
  border-radius: 300px;
  margin-left: 2%;
}
